
.App {
  text-align: center;
background-color: white;  inline-size: 100%;
}
.Header{
  color: black;
  margin: 0%;
  font-size: 25px;
  background-color: #1565c0;
  font-style: inherit;
  text-align:start;
  padding-block: 20px;
}

.SubHeader{
  text-align: right;
  color: white;
}
 
.Info{
color: #3d4446;
font-size: medium;
text-align: center;

margin: auto;
float: left;
width: 60%;
background-color: #2196f3;
}

.Take_Action{
  color: #f50057;
  text-align: center;
  width: 60%;
  background-color: #2196f3;
  float: right;
  margin: auto;

}

.Related_Article{
  color: black;
}


.WebBody{
  color:black;
  width: 100%;
  font-size: 26px;
  float: center;
  text-align: center;
 
  padding-top:6%;
  
}
#Bodyimg{
  object-position: center top;
  object-position: 100px 50px;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#00695f;
  color: white;
  text-align: center;
}

.cardarea {
  padding: '60px';
}