.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.192);
}
.Header{
  color: #39545c;
  margin: 0%;
  font-size: 23px;
  background-color: black;
}
 
.Info{
color: #3d4446;
text-align: left;
float: left;
width: 25%;
}

.Take_Action{
  color: rgb(92, 0, 0);
  text-align: right;
  float: right;
  width: 25%;
}
.WebBody{
  color:rgb(30, 41, 19);
  width: 100%;
  float: center;
  text-align: center;

}
#Bodyimg{
  flex: center;
  inline-size: 25%;
  border: 1%;  

}
.YT1{
  flex: 40%;
  
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(116, 81, 81);
  color: white;
  text-align: center;
}